nav.top-bar(role="navigation", data-topbar='', data-options="mobile_show_parent_link: false")
  ul.title-area
    li.name
      h1
        a(href="/orders/today", data-navigate)=gon.companyName
    li.toggle-topbar.menu-icon
      a(href="#")
        span
  section.top-bar-section
    ul.right
      li.balance-label
        a.unhanded(href="#") #{total_balance} PLN
      li
        a(href="/orders/today", data-navigate) Today
      li.has-dropdown
        a(href="#") Finances (#{pending_transfers_count})
        ul.dropdown
          li
            a(href="/you", data-navigate) You 2 others
          li
            a(href="/others", data-navigate) Others 2 you
          li
            a(href="/transfers", data-navigate) Transfers (#{pending_transfers_count})
          li
            a(href='/transfers/new',data-navigate) New Transfer
      if locals.company_admin
        li.has-dropdown
          a(href="#") Company
          ul.dropdown
            li
              a(href="/members", data-navigate) Company Members
            li
              a(href="/edit_company", data-navigate) Edit Company
      li
        a(href="/settings", data-navigate) Settings
      li
        a(href=gon.destroyUserSession,data-method="delete") Sign Out
