.row
  .columns.medium-9.small-12.medium-centered
    .clearfix.dishes-list__dish-name-price
      strong.right.margin-left= locals.price
      span= locals.name
    footer.dishes-list__footer
      span.dishes-list__user.margin-right-small= locals.user_name
      if locals.editable
        a.margin-right-small(href="/orders/#{order.get('id')}/dishes/#{id}/edit",data-navigate) Edit
      if locals.deletable
        a.delete-link(href="#") Delete
      if locals.copyable
        a.copy-link(href="#") Copy
