.row
  .columns
    section.full-order
      .full-order__restaurant=locals.from
      .full-order__total
        span.title-total=locals.total
        |  PLN
      if parseFloat(shipping) > 0
        .full-order__shipping
          | SHIPPING:&nbsp;
          strong #{shipping} PLN
      .full-order__status-row
        .full-order__status.status-label(class="status-label__#{locals.machineStatus}")
          = locals.humanStatus
      .full-order__payer #{user.name} pays
        if editable
          a.inline-block.margin-left-small(href="/orders/#{id}/edit", data-navigate) Details & Shipping
        if status === 'in_progress'
          a.inline-block.margin-left-small.change-status-button(href="#") Ordered!
        if ordered_by_current_user
          if status === 'ordered'
            a.inline-block.margin-left-small.revert-status-button(href="#") Still in progress
            a.inline-block.margin-left-small.change-status-button(href="#") Delivered!
        if deletable
          a.inline-block.margin-left-small.destroy-order-button(href="#") Delete
      if locals.status === 'in_progress'
        .full-order__buttons.order-button
          a.button.success(href="/orders/#{id}/dishes/new",data-navigate) Add dish +
section.dishes-section
